@import "https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap";

html {
  font-family: "IBM Plex Serif", serif;
}

h1,
h2 {
  font-family: "Bevan", serif;
}

/* General setup */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */
header {
  border-bottom: 5px solid #1e3a8a;
}

footer {
  border-top: 5px solid #1e3a8a;
}

footer p {
  text-align: center;
}

/* Navigation Menu */
nav ul {
  list-style: none;      /* remove bullets */
  padding-left: 0;
  margin: 0;
}
nav li {
  margin-bottom: 12px;
}
nav a {
  display: block;              /* fills entire list item */
  padding: 14px 16px;          /* makes button taller */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  background-color: #f2f2f2;
  border: 2px solid #1e3a8a;
  border-radius: 6px;

  text-decoration: none;
  color: #1e3a8a;
}
nav a:hover,
nav a:focus {
  background-color: #1e3a8a;
  color: white;
}

/* General text styling */
h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
}
h2 {
	font-size:2rem;
	margin-bottom: 0;
	letter-spacing: 1px;
}
section h2 + p {
	text-indent: 2rem;
}
p,
li {
	line-height: 1.6;
	letter-spacing: 0.5px;
}

/* Link styling */
a {
  outline: none;
}

/* Downloaded image and external links */
a[href*="http"]{
	padding-right: 16px;
	background: url("../external-link-52.png") no-repeat right center;
	background-size: 14px 14px;
}
a:link,
a:visited {
  color: #1e3a8a;
}
a:focus,
a:hover {
  text-decoration: none;
  color: #2563eb;
}

/* List styling */
ul,
ol {
  margin: 1rem 0;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: lower-roman;
}